.InputContainer {
  width: 100%;
}

.InputContainer + .InputContainer {
  margin: 8px 0;
}

/* .InputContainer label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #2a2c39;
} */

.InputContainer .InputWrapper {
  margin-top: 3px;
  position: relative;
}

.InputWrapper textarea,
.InputWrapper input,
.InputWrapper select {
  width: 100%;
  padding: 7px 5px;
  border-radius: 5px;
  color: #757575;
  font-size: 14px;
  outline: 0;
  border: 1.5px solid #ddd;
}

.InputWrapper input:focus,
.InputWrapper select:focus {
  border: 1.5px solid #ef6603;
  transition: border-color 0.1s ease-in-out;
}

.InputWrapper select option:first-child {
  display: none;
  color: #ddd !important;
}

.InputWrapper textarea {
  height: 250px;
  padding: 10px 8px;
}

.InputWrapper input.RedBorder {
  border-color: red;
}

.InputWrapper p {
  width: 100%;
  height: 20px;
  font-size: 12px;
  color: red;
  margin: 2px 0 0 5px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.InputWrapper p.ShowError {
  opacity: 1;
}

.InputWrapper i {
  position: absolute;
  top: 15%;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .InputWrapper textarea,
  .InputWrapper input,
  .InputWrapper select {
    font-size: 13px;
  }
}
