.InputContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.InputContainer + .InputContainer {
  margin: 20px 0;
}

.InputContainer label {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  flex-basis: 30%;
  min-width: 100px;
  color: rgb(38, 38, 38);
  padding-top: 2px;
}

.InputContainer .InputWrapper {
  align-self: flex-end;
  justify-self: flex-end;
  flex-basis: 50%;
  position: relative;
}

.InputWrapper textarea {
  width: 100%;
  height: 250px;
  padding: 10px 8px;
  outline: none;
  border: 1.5px solid #ddd;
  font-size: 15px;
}

.InputWrapper input,
.InputWrapper select,
.InputWrapper select option {
  color: rgb(38, 38, 38);
  font-size: 16px;
  border: 0;
  outline: 0;
}

.InputWrapper select {
  border: 1.5px solid #ddd;
  border-radius: 3px;
}

.InputWrapper select:focus {
  border: 1.5px solid rgb(199, 109, 21);
}

.InputWrapper select option:first-child {
  display: none;
}

.InputWrapper input,
.InputWrapper select {
  width: 100%;
}
.InputWrapper input[type='text'],
.InputWrapper input[type='password'],
.InputWrapper input[type='email'] {
  border-bottom: 1.5px solid #ddd;
  transition: border-color 0.1s ease;
}

.InputWrapper input[type='text']:focus,
.InputWrapper input[type='password']:focus,
.InputWrapper input[type='email']:focus {
  border-bottom: 1.5px solid rgb(199, 109, 21);
}

.InputWrapper input.RedBorder {
  border-color: red;
}

.InputWrapper p {
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: red;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.InputWrapper p.ShowError {
  opacity: 1;
}

.InputWrapper i {
  position: absolute;
  top: 0%;
  right: 10px;
  cursor: pointer;
}
