.ReviewScreen {
  display: flex;
  margin: 50px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.ProfileIcon {
  width: 51px;
  height: 51px;
  border-radius: 25.5px;
  margin: 0 10px;
}

.Review {
  /* border: 1px solid red; */
}

.Review h4 {
  color: #2a2c39 !important;
  font-size: 16px;
}

.Review .Rating {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.Review .Rating fieldset {
  margin: 0 !important;
}

.Review .Rating .Date {
  font-size: 13.5px;
  margin-left: 10px;
  color: #73726c;
}

.Review .Feedback {
  margin-top: 7px;
  line-height: 1.4;
  font-size: 13.5px;
  color: #2a2c39 !important;
}

@media screen and (max-width: 750px) {
  .Review .Rating fieldset span {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 450px) {
  .Review h4 {
    font-size: 13px;
  }

  .ProfileIcon {
    display: none;
  }

  .Review .Rating fieldset span {
    font-size: 16px !important;
  }

  .Review .Rating .Date,
  .Review .Feedback {
    font-size: 11.5px;
  }
}
