.UserInfo {
  flex-basis: calc(50% - 20px);
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 16px;
}

.Label {
  font-weight: 600;
  text-transform: capitalize;
}
.Value {
  margin-left: 10px;
}

.Value::first-letter {
  text-transform: capitalize;
}

@media screen and (max-width: 750px) {
  .UserInfo {
    flex-basis: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .UserInfo {
    flex-basis: 100%;
    font-size: 12px;
  }
}
