.Btn {
  display: block;
  padding: 8px 12px;
  font-size: 16px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.05s ease-in;
}

.Btn:active {
  transform: translateY(2px);
}

.Btn1,
.Btn5 {
  background: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
}

.Btn1:hover {
  background: rgb(255, 255, 255);
  color: rgb(38, 38, 38);
  border: 1px solid rgb(38, 38, 38);
}

.Btn2,
.Btn7 {
  background: rgb(255, 255, 255);
  color: rgb(38, 38, 38);
  border: 1px solid rgb(38, 38, 38);
}

.Btn2:hover {
  background: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
}

.Btn3,
.Btn6 {
  background: rgb(199, 109, 21);
  color: rgb(255, 255, 255);
}

.Btn3:hover {
  background: rgb(255, 255, 255);
  color: rgb(199, 109, 21);
  border: 1px solid rgb(199, 109, 21);
}

.Btn4,
.Btn8 {
  background: rgb(255, 255, 255);
  color: rgb(199, 109, 21);
  border: 1px solid rgb(199, 109, 21);
}

.Btn4:hover {
  background: rgb(199, 109, 21);
  color: rgb(255, 255, 255);
}

.Disable {
  pointer-events: none !important;
  background: rgb(170, 170, 170) !important;
  color: rgb(255, 255, 255) !important;
  border: 0 !important;
  outline: none !important;
}
