.Btn {
  display: block;
  padding: 8px 12px;
  font-size: 16px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.05s ease-in;
}

.Btn:active {
  transform: translateY(2px);
}

.Btn1,
.Btn5 {
  background: #2a2c39;
  color: rgb(255, 255, 255);
  border: 1px solid #2a2c39;
}

.Btn1:hover {
  background: rgb(255, 255, 255);
  color: #2a2c39;
}

.Btn2,
.Btn7 {
  background: rgb(255, 255, 255);
  color: #2a2c39;
  border: 1px solid #2a2c39;
}

.Btn2:hover {
  background: #2a2c39;
  color: rgb(255, 255, 255);
}

.Btn3,
.Btn6 {
  background: #ef6603;
  color: rgb(255, 255, 255);
  border: 1px solid #ef6603;
}

.Btn3:hover {
  background: rgb(255, 255, 255);
  color: #ef6603;
}

.Btn4,
.Btn8 {
  background: rgb(255, 255, 255);
  color: #ef6603;
  border: 1px solid #ef6603;
}

.Btn4:hover {
  background: #ef6603;
  color: rgb(255, 255, 255);
}

.Disable {
  pointer-events: none !important;
  background: rgb(170, 170, 170) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(170, 170, 170) !important;
  outline: none !important;
}

@media screen and (max-width: 750px) {
  .Btn {
    font-size: 13px !important;
  }
}
