.TestResultScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
}

.TestResult {
  padding: 50px 40px 120px 40px;
  flex: 1;
  color: #2a2c39;
}

.Report {
  margin-top: 50px;
}

.Report h4 {
  font-size: 18px;
  margin: 10px 0;
}

.Report h1 span,
.Report h4 span {
  color: #ef6603;
  text-transform: capitalize;
}

.Report ul {
  list-style: none;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
}

.Report ul li {
  margin: 10px 0;
}

.Report ul li p {
  line-height: 1.5;
  font-weight: bold;
}

.Report ul li p.Question span {
  color: #2a2c39;
}

.Report ul li p.Answer span {
  color: #ef6603;
}

.Report .Recommendation {
  font-size: 18px;
  margin-top: 30px;
}

.BtnsContainers {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .TestResult {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Report h4,
  .Report .Recommendation {
    font-size: 17px;
  }

  .Report ul li p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .TestResult {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Report h4,
  .Report .Recommendation {
    font-size: 15px;
  }

  .Report ul li p {
    font-size: 13px;
  }
}
