.FaqScreen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.Faq {
  flex: 1;
  padding: 30px 50px;
  color: #ef6603;
}

.Faq ul {
  list-style-type: disc;
}

.Question {
  margin: 20px 0;
}

.Question h4 {
  color: #ef6603;
  font-size: 14px;
  margin-bottom: 5px;
}

.Question p {
  color: #2a2c39;
  font-size: 13px;
  line-height: 1.4;
}
