.FormWrapper {
  width: 60%;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@media screen and (max-width: 750px) {
  .FormWrapper {
    width: 70%;
    padding: 50px 30px;
  }
}

@media screen and (max-width: 450px) {
  .FormWrapper {
    width: 95%;
    padding: 50px 20px;
  }
}
