.TestsScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  color: #2a2c39;
}

.Tests {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InputContainer {
  width: 100%;
}

.Input {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input label {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px 0 10px;
}
.Input select {
  width: 30%;
  max-width: 500px;
  min-width: 100px;
  margin: 0 10px 0 0;
  outline: none;
}

.Input select,
.Input select option {
  font-size: 16px;
  text-transform: capitalize;
  margin: 10px;
  padding: 2px;
}

.DropDownMessage {
  display: none;
}

@media screen and (max-width: 750px) {
  .Input select {
    width: 50%;
  }
  .Input label,
  .Input select,
  .Input select option {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .Input select {
    width: 50%;
  }
  .Input label,
  .Input select,
  .Input select option {
    font-size: 14px;
  }

  .Input label {
    margin: 0 10px;
  }
}
