#TestScreen .swiper-container {
  width: 100%;
  height: auto !important;
  text-align: left;
}

/* #TestScreen .swiper-container .swiper-next-btn,
#TestScreen .swiper-container .swiper-prev-btn {
  display: none !important;
  opacity: 0 !important;
} */

#TestScreen .swiper-container .Question {
  padding: 20px 5%;
}

#TestScreen .swiper-container .Question h2 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}

#TestScreen .swiper-container .Question input[type='text'] {
  display: block;
  resize: none;
  width: 50%;
  font-size: 15px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #eee;
  padding: 0 0 5px 3px;
  transition: border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#TestScreen .swiper-container .Question input[type='text']:focus {
  border-bottom: 2px solid rgb(199, 109, 21);
}

#TestScreen .swiper-container .Question .Dropdown {
  width: 200px;
  font-size: 16px;
  border: 2px solid #eee;
  outline: none;
}

#TestScreen .swiper-container .Question .Dropdown:focus {
  border: 2px solid #eee;
}
