.ProfileIcon {
  width: 51px;
  height: 51px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.Dropdown {
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  right: 0;
  height: 0;
  overflow: hidden;
}

.Dropdown ul {
  list-style: none;
}

.Dropdown li {
  width: 150px;
}

.Dropdown ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid #eee;
  color: rgb(38, 38, 38);
  cursor: pointer;
}

.Dropdown li a:hover {
  color: #ffffff;
  background: #ef6603;
  border: 1px solid #ef6603;
}

.Dropdown li:first-child a,
.Dropdown li:first-child a:hover {
  border-bottom: 0;
}

.ShowDropDown {
  height: auto !important;
}

@media screen and (max-width: 450px) {
  .ProfileIcon {
    width: 38px;
    height: 38px;
  }
}
