.ContactScreen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Contact {
  flex: 1;
  margin-top: 80px;
  padding: 20px 30px;
}

.Heading {
  font-size: 35px;
  color: rgb(199, 109, 21);
  text-align: center;
}
