.ContactScreen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.Contact {
  width: 100%;
  flex: 1;
  padding: 40px 40px 120px 40px;
}

.Contact .Form {
  width: 50%;
  max-width: 500px;
}

@media screen and (max-width: 750px) {
  .Contact {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Contact .Form {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .Contact {
    padding-left: 10px;
    padding-right: 10px;
  }
  .Contact .Form {
    width: 100%;
  }
}
