.Login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(239, 102, 3);
  background: radial-gradient(
    circle,
    rgba(239, 102, 3, 1) 0%,
    rgba(42, 44, 57, 1) 100%
  );
}

.FormWrapper {
  width: 50%;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.Login .Heading {
  text-align: center;
}

.Heading h1 {
  color: #ef6603;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.Heading h1 span {
  color: #2a2c39;
}

.Heading .Slogan {
  color: #2a2c39;
  font-size: 13px;
  text-transform: lowercase;
  text-align: center;
  font-style: italic;
}

.Heading h2 {
  margin-top: 50px;
  text-transform: uppercase;
}

.Form {
  width: 100%;
  margin-top: 30px;
}

.ForgetMsg a {
  text-decoration: none;
}

.BtnsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

@media screen and (max-width: 750px) {
  .FormWrapper {
    width: 70%;
    padding: 50px 30px;
  }

  .Heading h1 {
    font-size: 23px;
  }

  .Heading .Slogan {
    font-size: 11px;
  }

  .ForgetMsg a {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  .FormWrapper {
    width: 95%;
    padding: 50px 20px;
  }
  .Heading h1 {
    font-size: 20px;
  }
}
